* {
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    margin: 0;
    font-family: sans-serif;
    background: url(../img/bg.jpg) no-repeat center / cover;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 60vw;
    height: 80vh;
    padding: 40px 60px;
    border-radius: 60px;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, .6);
    display: flex;
    flex-direction: column;
}

/* HEADER */

.header{
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__h1{
    font-size: 5rem;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}

.header__btn{
    padding: 15px 40px;
    background: #fff;
    border: none;
    border-radius: 1000px;
    color: rgb(75, 74, 74);
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
}

/* TODO LIST */

.todo-list{
    overflow-y: scroll;
    flex-grow: 1;
    margin-bottom: 10px;
}

/* TODO */

.todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 20px;
    margin: 0 15px 10px 0;
    border-radius: 20px;
}

.todo__name{
    flex-grow: 1;
    font-size: 2.2rem;
    margin: 0 15px;
    color: rgb(75, 74, 74);
}

/* BOTTOM BAR */

.bottom-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-top: 40px;
    border-top: 1px solid #fff;
    margin-top: 20px;
}

.bottom-bar__input{
    flex-grow: 1;
    margin: 0 15px 0 0;
    padding: 0px 50px;
    height: 60px;
    font-size: 2.2rem;
    border-radius: 10000px;
    border: 2px solid;
    border-color: transparent;
    transition: border-color .1s;
    color: rgb(75, 74, 74);
}

.bottom-bar__input:focus{
    outline: none;
    border-color: rgb(75, 74, 74);
}

.bottom-bar__btn{
    border-radius: 50%;
    border: none;
    width: 60px;
    height: 60px;
    position: relative;
    background: #fff;
    cursor: pointer;
}

.bottom-bar__btn:hover,
.bottom-bar__btn:focus{
    outline: none;
}

.add-line{
    width: 32px;
    height: 4px;
    background: rgb(75, 74, 74);
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.add-line:first-child{
    transform: translate(-50%, -50%) rotateZ(90deg);
}

/* SKROLLBAR */

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 1000px;
    border: 1px solid #fff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10000px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* MEDIA QUERIES */

  @media(max-width: 1400px){
    .content{
        padding: 30px 50px;
    }

    .header{
       padding-bottom: 35px;
    }

    .header__h1{
        font-size: 5rem;
    }

    .header__btn{
        padding: 12px 30px;
        font-size: 1.8rem;
    }

    .todo{
        padding: 10px 15px;
        border-radius: 10px;
    }

    .todo__name{
        font-size: 1.6rem;
    }

    .bottom-bar{
        padding-top: 30px;
    }

    .bottom-bar__input{
        height: 40px;
        padding: 0 30px;
        font-size: 1.6rem;
    }

    .bottom-bar__btn{
        height: 40px;
        width: 40px;
    }

    .add-line{
        width: 22px;
        height: 3px;
    }

  }

  @media(max-width: 1200px){
    .content{
        padding: 25px 45px;
        border-radius: 40px;
    }

    .header{
        padding-bottom: 30px;
    }

    .header__h1{
        font-size: 4rem;
    }

    .header__btn{
        padding: 10px 27px;
        font-size: 1.6rem;
    }

    .todo{
        padding: 8px 13px;
        border-radius: 10px;
    }

    .todo__name{
        font-size: 1.4rem;
    }

    .bottom-bar{
        padding-top: 25px;
    }

    .bottom-bar__input{
        height: 35px;
        padding: 0 25px;
        font-size: 1.6rem;
    }

    .bottom-bar__btn{
        height: 35px;
        width: 35px;
    }

    .add-line{
        width: 20px;
        height: 3px;
    }

  }

  @media(max-width: 768px){

    .header{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }

    .header__h1{
        margin-bottom: 10px;
    }

    .bottom-bar{
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }

    .bottom-bar__input{
        height: 35px;
        padding: 0 25px;
        font-size: 1.4rem;
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0;
    }

    .bottom-bar__btn{
        height: 35px;
        width: 100px;
        border-radius: 1000px;
    }

    .add-line{
        width: 20px;
    }
  }

  @media(max-width: 576px){
      .content{
          width: 90vw;
          height: 90vh;
      }
  }